@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://wallpaperaccess.com/full/207739.jpg");
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_header {
  font-size: 100px;
}

.sub_header {
  font-size: 50px;
}

h4 {
  font-size: 60px;
}

.standard_paragraph {
  color: darkgreen;
  font-size: 30px;
}

